{% load static %}
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container flex-nowrap">
        <a class="navbar-brand brand-logo m-0" href="/" style="font-family: 'Playfair Display', serif; font-weight: 700; color: #4A3F35; letter-spacing: 1px; font-size: 24px; text-decoration: none;">
            Doraa Vastra
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav gap-4">
                <li class="nav-item"><a class="nav-link active-link" href="/">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="#">SHOP</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">CATEGORIES</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Kurtis</a></li>
                        <li><a class="dropdown-item" href="#">Sarees</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">ABOUT US</a></li>
                <li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>
            </ul>
        </div>

        <div class="nav-icons d-flex gap-3 align-items-center text-dark fs-5">
            <a href="#" class="text-reset"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="{% url 'login' %}" class="text-reset"><i class="fa-regular fa-user"></i></a>
                <i class="fa-solid fa-bag-shopping text-dark"></i>
                <span class="badge-count">0</span>
            </a>
            <button class="navbar-toggler border-0 p-0 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</nav>